@use '../_var.scss' as *;

.sy-player__playbackrate-wrap {
  position: relative;
  margin-left: $controls-item-margin;
}

.sy-player__playbackrate-result {
  cursor: pointer;
  color: $color-text;
  font-weight: 600;
  @media #{$mobileLayout} {
    font-weight: 400;
  }
}

.sy-player__playbackrate-menu {
  color: $color-text;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  bottom: calc(100% + 25px);
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 0;
}

.sy-player__playbackrate-menu-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 8px 15px;
  &:hover {
    color: #14b9c8;
    background-color: rgba(20, 20, 20, 0.5);
  }
}

.sy-player__playbackrate-menu-item.is-active {
  color: #14b9c8;
  opacity: 1;
  font-weight: 600;
  @media #{$mobileLayout} {
    font-weight: 400;
  }
}

@media #{$mobileLayout} {
  .sy-player__playbackrate-menu {
    bottom: calc(100% + 15px);
  }
  .sy-player__playbackrate-menu {
    padding: 3px 0;
  }
  .sy-player__playbackrate-menu-item {
    padding: 5px 6px;
  }
}
